<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>log4j-config-location</param-name>
        <param-value>WEB-INF/log4j.properties</param-value>
    </context-param>
    <listener>
        <description>ServletContextListener</description>
        <listener-class>longtt.log.log4j</listener-class>
    </listener>
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>longtt.controllers.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>longtt.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchCakeController</servlet-name>
        <servlet-class>longtt.controllers.SearchCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateController</servlet-name>
        <servlet-class>longtt.controllers.CreateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>longtt.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailCakeController</servlet-name>
        <servlet-class>longtt.controllers.DetailCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>longtt.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>longtt.controllers.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>longtt.controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCartController</servlet-name>
        <servlet-class>longtt.controllers.DeleteCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmCartController</servlet-name>
        <servlet-class>longtt.controllers.ConfirmCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchOrderController</servlet-name>
        <servlet-class>longtt.controllers.SearchOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DetailOrderController</servlet-name>
        <servlet-class>longtt.controllers.DetailOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUpdateController</servlet-name>
        <servlet-class>longtt.controllers.ViewUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadCategoryController</servlet-name>
        <servlet-class>longtt.controllers.LoadCategoryController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchCakeController</servlet-name>
        <url-pattern>/SearchCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateController</servlet-name>
        <url-pattern>/CreateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailCakeController</servlet-name>
        <url-pattern>/DetailCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/AddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCartController</servlet-name>
        <url-pattern>/DeleteCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmCartController</servlet-name>
        <url-pattern>/ConfirmCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchOrderController</servlet-name>
        <url-pattern>/SearchOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DetailOrderController</servlet-name>
        <url-pattern>/DetailOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUpdateController</servlet-name>
        <url-pattern>/ViewUpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoadCategoryController</servlet-name>
        <url-pattern>/LoadCategoryController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
